<div class="floor-figure">
  <figure class="floor ab"></figure>
</div>
<div class="container">

    <div class="lamp-figure">
      <figure class="lamp ab"></figure>
    </div>

    <figure class="bookshelf"></figure>

      <div class="contact">
        <h2>Give us a buzz!</h2>
        <p>Tel:
          <a href="tel:0505577143">05055 77143</a>
          <br/>
          <a href="mailto:simievents@gmail.com">simievents@gmail.com</a>
        </p>
          <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square"></i></a>
      </div>

    <div class="sofa-figure">
      <figure class="sofa ab"></figure>
    </div>
    <div class="phone-figure">
      <figure class="phone ab"></figure>
    </div>
    <div class="clock-figure">
      <figure class="clock ab"></figure>
    </div>

</div>
