<div class="web-layer"></div>

<div class="container">
  <figure class="cloud-sm ab"></figure>
  <figure class="cloud-md ab"></figure>

  <div class="careers">
    <h2>Careers</h2>
    <p>Leave your resume at <a href="mailto:careers@simievents.com">careers@simievents.com</a></p>
  </div>

  <figure class="ufo-sm ab"></figure>
  <figure class="ufo-md ab"></figure>
  <figure class="ufo-sufi ab"></figure>

  <figure class="garden-one ab"></figure>
  <figure class="garden-two ab"></figure>

  <figure class="grass ab"></figure>
</div>
