<div id="scene" class="scene" parallax>
  <div class="web-layer"></div>
  <figure class="cloud1 ab"></figure>
  <div auto-height class="container">
    <figure class="mic ab layer" data-depth="0.20"></figure>
    <figure class="cloud2 ab layer" data-depth="0.60"></figure>
    <figure class="cloud3 ab layer" data-depth="0.60"></figure>
    <div class="text-holder know-us">
      <h2>Hey there party people!</h2>
      <p>
        Who doesn’t love a great party! Whether you want diamonds in the sky or a unicorn riding across the clouds, we’re your people. Corporate events, classical and cultural shows, artist events from across the world – we can handle it all.
      </p>
      <p>
        A cut above the rest, we’ve risen above the glamour and opted to give classical and contemporary events the spotlight it deserves! Flying in artist from across the world, we want to give the city of Dubai event experiences they will never forget.
      </p>
    </div>
    <img class="guitarsufi ab hidden-sm hidden-xs layer" src="img/section2/guitarsufi.png">
  </div>
  <div class="sea">
    <figure class="boat ab"></figure>
    <img alt="" class="ab tower1 layer" data-depth="0.40" src="img/section2/building.png" />
    <img alt="" class="ab tower2 layer" data-depth="0.40" src="img/section2/building2.png" />
    <figure class="wave1 ab wv layer" data-depth="0.80"></figure>
    <figure class="wave2 ab wv layer" data-depth="0.60"></figure>
    <figure class="wave3 ab wv layer" data-depth="0.40"></figure>
    <figure class="wave4 ab wv layer" data-depth="0.20"></figure>
  </div>
</div>
