<div class="web-layer"></div>

<figure class="light ab"></figure>
<div class="container" auto-height>

  <div class="event text-holder ab">
    <h2>Our First Event</h2>
    <uib-carousel class="text-center">
      <uib-slide>
        <div class="event-one">
          <h3 class="primary">humsafar</h3>
          <p>
            Cast: Lubna Salim &amp; Harsh Chhaya
            <br> Written by: Javed Siddiqui
            <br> Directed by: Salim Arif
          </p>

          <div class="date">22nd &amp; 23rd January 2016</div>
          <button class="btn btn-primary text-upper">Know More</button>
        </div>
      </uib-slide>
      <uib-slide>
        <div class="event-one">
          <h3 class="primary">humsafar</h3>
          <p>
            Cast: Lubna Salim &amp; Harsh Chhaya
            <br> Written by: Javed Siddiqui
            <br> Directed by: Salim Arif
          </p>

          <div class="date">21nd &amp; 22rd January 2016</div>
          <button class="btn btn-primary text-upper">Know More</button>
        </div>
      </uib-slide>
    </uib-carousel>
    <p class="upcoming text-upper">Upcoming events</p>
  </div>
</div>
<figure class="speaker ab"></figure>
<figure class="drummer ab"></figure>
<figure class="piano-foot ab"></figure>
