<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 100%; height:100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
data-mode="cursor">
  <div class="web-layer"></div>
  <div class="container" auto-height>
    <div class="layer" data-depth="0.20">
      <figure class="cloud-sm ab fade-me2"></figure>
    </div>
    <!-- <div class="cloud-md ab">
    <div class="careers">
      <h2>Careers</h2>
      <p>Leave your resume at
      <br>
      <a href="mailto:simievents@gmail.com">simievents@gmail.com</a></p>
    </div>
  </div> -->
    <div class="text-holder careers fade-me2 layer" data-depth="0.10">
      <h2>Careers</h2>
      <p>Dream job – Where you’d work in PJs, where petrol costs and calls to bae are covered and where you’d sometimes dine with a mini celebrity or two. (Isn’t everyone a mini celeb these days, anyway?)</p>
      <p>
        Where you can find one of those– Right here at Simi Events! (Hope you saw that coming).</p>
      <p>
        What you have to be good at – Breathing down peoples’ necks to get work done, dealing with impatient people and the occasional slow computer. (Want to know the true nature of a person? Watch how they deal with a slow computer).</p>
      <p>
        What you have to put up with – Crazy hours, lots of running around, gradually losing your sanity and not having the time to get therapy. (Aren’t the greatest minds a little crazy, anyway?).
      </p>
      <p>
        Leave your resume at <a href="mailto:simievents@gmail.com">simievents@gmail.com</a>
      </p>
    </div>
    <div class="layer layer-ufosm" data-depth="0.20">
      <figure class="ufo-sm fade-me2 ab hidden-xs"></figure>
    </div>
    <div class="layer layer-ufomd" data-depth="0.30">
      <figure class="ufo-md ab fade-me2 hidden-xs"></figure>
    </div>
    <div class="layer layer-ufosufi" data-depth="0.40">
      <figure class="ufo-sufi ab"></figure>
    </div>
  </div>
  <div class="layer layer-garden" data-depth="0.15">
    <figure class="garden ab"></figure>
  </div>
  <div class="layer depth-grass" data-depth="0.10">
    <figure class="grass ab"></figure>
  </div>
</div>
