<div class="web-layer"></div>

<div class="container" auto-height>
  <figure class="cloud-sm ab"></figure>
  <div class="cloud-md ab">
    <div class="careers">
      <h2>Careers</h2>
      <p>Leave your resume at
      <br>
      <a href="mailto:careers@simievents.com">careers@simievents.com</a></p>
    </div>
  </div>

  <figure class="ufo-sm ab"></figure>
  <figure class="ufo-md ab"></figure>
  <figure class="ufo-sufi ab"></figure>
</div>

<figure class="garden ab"></figure>
<figure class="grass ab"></figure>
