<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 100%;height: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
data-mode="cursor">
  <div class="three">
    <div class="container">

      <div class="wedo text-holder layer" data-depth="0.20">
        <h2>WHAT WE DO</h2>
        <uib-carousel>
          <!-- <uib-slide>
        <div class="row">
          <div class="col-xs-4">
            <div class="card">
              <div class="fancy-border">
                <div class="white-bg">
                  <div class="title">Musicals</div>
                  <div class="image"><img src="img/section3/music.png" alt="Music" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="fancy-border">
                <div class="white-bg">
                  <div class="title">Theatre</div>
                  <div class="image"><img src="img/section3/theater.png" alt="Theatre" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
              <div class="fancy-border">
                <div class="white-bg">
                  <div class="title">Concerts</div>
                  <div class="image"><img src="img/section3/concert.png" alt="Concert" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-slide> -->
          <uib-slide>
            <div class="row text-center">
              <div class="col-xs-4">
                <img src="img/section3/musicals.png" class="img-responsive" alt="" />
              </div>
              <div class="col-xs-4">
                <img src="img/section3/theatre.png" class="img-responsive" alt="" />
              </div>
              <div class="col-xs-4">
                <img src="img/section3/concerts.png" class="img-responsive" alt="" />
              </div>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>

    </div>
    <div class="car">
      <img src="img/section3/car.png" class="limo ab hidden-sm hidden-xs">
    </div>
    <img src="img/section3/theater2.png" class="theatre ab">
    <img src="img/section3/all-lights.png" class="light1 ab hidden-sm hidden-xs">
    <div class="road ab"></div>
  </div>
</div>
