<div class="container">

  <div class="wedo">
    <h2>WHAT WE DO</h2>
    <uib-carousel>
      <uib-slide>
        <div class="row">
          <div class="col-xs-3">
            <div class="card">
              <div class="title">Musicals</div>
              <div class="image"></div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="card">
              <div class="title">Musicals</div>
              <div class="image"></div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="card">
              <div class="title">Musicals</div>
              <div class="image"></div>
            </div>
          </div>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

</div>
<figure class="limo"></figure>
<figure class="theatre"></figure>
<figure class="lights1"></figure>
<figure class="lights2"></figure>
<figure class="lights3"></figure>
<figure class="lights4"></figure>
<figure class="road"></figure>
