<div class="web-layer"></div>

<figure class="mic"></figure>
<figure class="cloud1"></figure>
<figure class="cloud2"></figure>
<figure class="cloud3"></figure>
<div class="text-holder know-us">
  <h2>Get to know us!</h2>
  <p>
    Who doesn’t love a great party! Whether you want diamonds in the sky or a unicorn riding across the clouds, we’re your people. Corporate events, classical and cultural shows, artist events from across the world – we can handle it all.
  </p>
  <p>
    A cut above the rest, we’ve risen above the glamour and opted to give classical and contemporary events the spotlight it deserves! Flying in artist from across the world, we want to give the city of Dubai event experiences they will never forget.
  </p>
</div>
<figure class="sufi-pari"></figure>

<div class="sea">
  <figure class="boat"></figure>
  <figure class="tower1"></figure>
  <figure class="tower2"></figure>
  <figure class="wave1"></figure>
  <figure class="wave2"></figure>
  <figure class="wave3"></figure>
  <figure class="wave4"></figure>
</div>
