<figure class="light"></figure>
<div class="container">

  <div class="event text-holder">
    <h2>Our First Event</h2>
    <uib-carousel class="text-center">
      <uib-slide>
        <h3></h3>
        <p>
          Cast: Lubna Salim &amp; Harsh Chhaya
          <br>
          Written by: Javed Siddiqui
          <br>
          Directed by: Salim Arif
        </p>

        <div class="date">22nd &amp; 23rd January 2016</div>
        <button class="btn btn-primary">Know More</button>
      </uib-slide>
    </uib-carousel>
  </div>
  <figure class="piano-foot"></figure>
  <figure class="speaker"></figure>
  <figure class="drummer"></figure>
</div>
