<figure class="fly-cam1"></figure>
<figure class="fly-cam2"></figure>
<figure class="fly-cam3"></figure>
<figure class="fly-cam4"></figure>

<div class="board">
  <h2>Media Corner</h2>
  <uib-carousel class="hoarding">
    <uib-slide>
      <div class="row">
        <div class="col-xs-6">
          <img alt="" src="">
          <h3>Get ready to grove</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
        <div class="col-xs-6">
          <img alt="" src="">
          <h3>Get ready to grove</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </div>
    </uib-slide>
  </uib-carousel>
</div>

<figure class="tree1"></figure>
<figure class="tree2"></figure>
<figure class="tree3"></figure>

<figure class="fence"></figure>

<figure class="sufi-guy"></figure>

<figure class="roadway"></figure>
