<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 100%; height:100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
data-mode="cursor">
<div class="web-layer"></div>
<div class="fade-me">
    <div class="layer layer-ufosm" data-depth="0.20">
<img src="img/section5/camera1.png" class="fly-cam1 ab hidden-md hidden-sm hidden-xs" />
</div>
    <div class="layer layer-ufosm" data-depth="0.30">
<img src="img/section5/camera2.png" class="fly-cam2 ab hidden-md hidden-sm hidden-xs" />
</div>
    <div class="layer layer-ufosm" data-depth="0.50">
<img src="img/section5/camera3.png" class="fly-cam3 ab hidden-sm hidden-xs" />
</div>
    <div class="layer layer-ufosm" data-depth="0.40">
<img src="img/section5/camera4.png" class="fly-cam4 ab hidden-md hidden-sm hidden-xs" />
</div>
</div>
<div class="board ab">
  <h2>Hall Of Fame</h2>
  <uib-carousel class="hoarding">
    <uib-slide>
      <div class="media-one">
        <div class="container-fluid">
          <div class="row">
            <h3 class="text-center min-hght">Coming Soon</h3>
            <!-- <div class="col-xs-6">
              <img alt="" src="img/section5/pic1.png">
              <h3>Get ready to grove</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
            <div class="col-xs-6">
              <img alt="" src="img/section5/pic2.png">
              <h3>Get ready to grove</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div> -->
          </div>
        </div>
      </div>
    </uib-slide>
    <!-- <uib-slide>
      <div class="media-one">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6">
              <img alt="" src="img/section5/pic1.png">
              <h3>Get ready to dance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
            <div class="col-xs-6">
              <img alt="" src="img/section5/pic2.png">
              <h3>Get ready to dance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
          </div>
        </div>
      </div>
    </uib-slide> -->
  </uib-carousel>
  <div class="stands hidden-xs">
    <span class="stand1 ab"></span>
    <span class="stand2 ab"></span>
  </div>
</div>

<figure class="tree1 fade-me ab hidden-xs"></figure>
<figure class="tree2 fade-me ab hidden-xs"></figure>

<figure class="fence ab"></figure>

<figure class="sufi-guy ab hidden-sm"></figure>

<div class="roadway ab"></div>
</div>
