<div class="web-layer"></div>

<figure class="fly-cam1 ab"></figure>
<figure class="fly-cam2 ab"></figure>
<figure class="fly-cam3 ab"></figure>
<figure class="fly-cam4 ab"></figure>

<div class="board">
  <h2>Media Corner</h2>
  <uib-carousel class="hoarding">
    <uib-slide>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <img alt="" src="">
            <h3>Get ready to grove</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
          <div class="col-xs-6">
            <img alt="" src="">
            <h3>Get ready to grove</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
      </div>
    </uib-slide>
  </uib-carousel>
</div>

<figure class="tree1 ab"></figure>
<figure class="tree2 ab"></figure>

<figure class="fence ab"></figure>

<figure class="sufi-guy ab"></figure>

<div class="roadway ab"></div>
