<div class="web-layer"></div>

<div class="container" auto-height>
  <figure class="mic ab"></figure>
  <figure class="cloud1 ab"></figure>
  <figure class="cloud2 ab"></figure>
  <figure class="cloud3 ab"></figure>
  <div class="text-holder know-us">
    <h2>Get to know us!</h2>
    <p>
      Who doesn’t love a great party! Whether you want diamonds in the sky or a unicorn riding across the clouds, we’re your people. Corporate events, classical and cultural shows, artist events from across the world – we can handle it all.
    </p>
    <p>
      A cut above the rest, we’ve risen above the glamour and opted to give classical and contemporary events the spotlight it deserves! Flying in artist from across the world, we want to give the city of Dubai event experiences they will never forget.
    </p>
  </div>
  <figure class="guitarsufi"></figure>

  <div class="sea">
    <figure class="boat ab"></figure>
    <figure class="tower1 ab"></figure>
    <figure class="tower2 ab"></figure>
    <figure class="wave1 ab"></figure>
    <figure class="wave2 ab"></figure>
    <figure class="wave3 ab"></figure>
    <figure class="wave4 ab"></figure>
  </div>

</div>
