<div class="container">
  <figure class="lamp"></figure>
  <figure class="bookshelf"></figure>
  <div class="contact">
    <h2>Give us a buzz!</h2>
    <p>Tel:
      <a href="tel:0505577143">05055 77143</a>
      <br/>
      <a href="mailto:simievents@gmail.com">simievents@gmail.com</a>
    </p>
    <nav>
      <a class="fa fa-facebook-square" href="https://www.facebook.com/" target="_blank"></a>
      <a class="fa fa-instagram" href="https://instagram.com/" target="_blank"></a>
      <a class="fa fa-twitter-square" href="https://twitter.com/" target="_blank"></a>
    </nav>
  </div>
  <figure class="sofa"></figure>
  <figure class="phone"></figure>
  <figure class="clock"></figure>
  <figure class="floor"></figure>
</div>
