@media (max-width: 1200px) {

  //    section-2
  .mic {
    zoom: 0.8;
  }
  .guitarsufi {
    width: 180px;
    right: 17%;
    bottom: 33%;
  }
  .boat {
    zoom: 0.9;
  }
  .tower1 {
    width: 90px;
  }
  .tower2 {
    right: 15px;
  }
  .know-us {
    h2 {
      font-size: 40px;
    }
  }
  .cloud1 {
    width: 140px;
    height: 90px;
    left: -20px;
    bottom: 195px;
    zoom: 0.9;
  }
  .cloud2 {
    display: none;
  }
  .cloud3 {
    zoom: 0.9;
    top: 50px;
  }

  //    section3
  .light1 {
    zoom: 0.6;
  }
  .theatre {
    zoom: 0.6;
  }

  //section4
  .drummer {
    width: 315px;
    height: 250px;
    bottom: 90px;
    zoom: 0.9;
  }
  .speaker {
    width: 250px;
    height: 400px;
    zoom: 0.9;
  }
}
@media (max-width: $screen-sm-max) {

  //    section-2
  .know-us {
    width: 60%;
    left: 60%;
    @include transform(translate(-60%, -40%));
    h2 {
      font-size: 35px;
    }
  }
  .mic {
    zoom: 0.7;
  }

  //    section-4
  .drummer {
    bottom: 10px;
    zoom: 0.7;
  }
  .speaker {
    zoom: 0.7;
  }
  .light {
    zoom: 0.8;
  }
  .event {
    width: 80%;
    left: 50%;
    top: 40%;
    @include transform(translate(-50%, -40%));
  }

  //    section-3
  .wedo {
    width: 100%;
  }
  .theatre {
    width: auto;
    height: 30vh;
    left: 30%;
  }
}
@media (max-width: $screen-xs-max) {

  //    section-2
  .know-us {
    h2 {
      font-size: 28px;
    }
  }
  .mic {
    zoom: 0.6;
  }
  .boat {
    width: 80px;
    height: 150px;
  }
  .layer-boat {
    left: 0 !important;
    top: -102px !important;
  }
  .tower1 {
    width: 80px;
    right: 110px;
  }
  .tower2 {
    width: 80px;
  }
  .cloud3 {
    left: 200px;
    zoom: 0.8;
  }
  .cloud2 {
    zoom: 0.8;
  }

  //    section-4
  .light {
    zoom: 0.7;
  }
  .event {
    width: 70%;
  }

  //    section-3
  .wedo {
    top: 70px;
  }
  .layer-mic {
    top: 9% !important;
  }
}
@media (max-width: 480px) {
  .know-us {
    width: 60%;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
      line-height: 120%;
    }
  }
  .mic {
    zoom: 0.4;
  }
  .tower1 {
    width: 70px;
    right: 70px;
  }
  .tower2 {
    width: 65px;
  }
  .layer-tower2 {
    top: -200px !important;
  }
  .layer-tower1 {
    top: -66px !important;
    left: 80% !important;
  }
  .layer-boat {
    left: 0 !important;
    top: -90px !important;
  }
  .tower1 {
    width: 60px;
    right: 50px;
  }
  .tower2 {
    width: 60px;
  }
  .cloud1 {
    zoom: 0.7;
  }
  .cloud2 {
    zoom: 0.7;
  }
  .cloud3 {
    zoom: 0.6;
    left: auto;
    right: 10px;
  }
  .theatre {
    left: 50%;
    bottom: 34px;
    @include transform (translateX(-50%));
  }
  .cloud-md {
    zoom: 0.7;
  }
  .sofa {
    zoom: 0.4;
    bottom: 170px;
  }

  //    section-4
  .event {
    .carousel-control.right {
      right: -40px;
    }
    .carousel-control.left {
      left: -40px;
    }
    .event-one {
      h3 {
        font-size: 40px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  .light {
    zoom: 0.6;
  }
  .section.three {
    background-size: auto 60%;
  }
  .board .media-one {
    padding: 20px 15px 10px;
  }
  .fence {
    bottom: 0;
  }
  .wave1 {
    width: 160%;
}
  .wave2 {
    width: 150%;
}
  .wave3 {
    width: 140%;
}
  .wave4 {
    width: 130%;
}
  .layer-wave4 {
    left: -15%!important;
  }
  .layer-wave3 {
    left: -20% !important;
  }
  .layer-wave2 {
    left: -20% !important;
  }
  .layer-wave1 {
    left: -30% !important;
  }
  .floor {
      bottom: 67px;
    }

}
// SECTION 3 Animation

.limo {
  @include transition(all 1500ms ease);
  @include transition-delay(0.5s);
  right: 0;
  @include transform(translateX(100%));
}
.fp-viewing-2 {
  .limo {
    right: 50%
  }
}
