// section 7
.lamp {
  width: 120px;
  height: 150px;
  background-image: url("../img/section7/lamp.png");
  right: 0px;
}
.bookshelf {
  width: 200px;
  height: 90px;
  background-image: url("../img/section7/bookshelf.png");
  top: 100px;
  left: 150px;
}
.contact {
  text-align: left;
  top: 200px;
  left: 400px;
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
  }
  a > i {
    letter-spacing: 10px;
    font-size: 24px;
  }
}
.sofa {
  width: 550px;
  height: 400px;
  background-image: url("../img/section7/bed.png");
  top: 300px;
  left: 0;
}
.phone {
  width: auto;
  height: 95vh;
  top: 0;
  right: 150px;
  z-index: 0;
}
.clock {
  width: 120px;
  height: 105px;
  right: 0px;
  top: 200px;
  background-image: url("../img/section7/clock.png");
}
.floor {
  width: 100%;
  height: 121px;
  margin: 0;
  background-image: url("../img/section7/floor.png");
  z-index: 0;
  bottom: 0px;
}

// section 6
.cloud-sm {
  width: 140px;
  height: 100px;
  top: 50px;
  left: -70px;
  background-image: url('../img/section6/cloud1.png');
}
.cloud-md {
  width: 300px;
  height: 190px;
  background-image: url('../img/section6/cloud2.png');
  top: 100px;
  right: 0;
  padding-top: 30px;
  z-index: 1;
  .careers {
    width: 100%;
    height: 100%;
    text-align: center;
    p {
      font-size: 12px;
    }
  }
}
.ufo-sm {
  width: 59px;
  height: 33px;
  background-image: url('../img/section6/ufo1.png');
  top: 50px;
  left: 50%;
}
.ufo-md {
  width: 81px;
  height: 41px;
  background-image: url('../img/section6/ufo2.png');
  top: 100px;
  right: 0;
}
.ufo-sufi {
  width: 450px;
  height: 360px;
  background-image: url('../img/section6/ufobaba.png');
  top: 100px;
  left: 100px;
}
.garden {
  width: 100%;
  height: 210px;
  background-image: url('../img/section6/garden.png');
  background-size: auto 210px;
  background-repeat: repeat-x;
  bottom: 0;
}
.grass {
  width: 100%;
  height: 30px;
  background-image: url('../img/section6/grass.png');
  background-size: auto 30px;
  background-repeat: repeat-x;
  bottom: 0;
  z-index: 1;
}

// section 5
.fly-cam1 {
  width: 156px;
  height: 103px;
  background-image: url('../img/section5/camera1.png');
}
.fly-cam2 {
  width: 94px;
  height: 70px;
  background-image: url('../img/section5/camera2.png');
}
.fly-cam3 {
  width: 116px;
  height: 99px;
  background-image: url('../img/section5/camera3.png');
}
.fly-cam4 {
  width: 78px;
  height: 57px;
  background-image: url('../img/section5/camera4.png');
}
.tree1 {
  width: 123px;
  height: 209px;
  background-image: url('../img/section5/tree1.png');
}
.tree2 {
  width: 170px;
  height: 301px;
  background-image: url('../img/section5/tree2.png');
}
.fence {
  width: 100%;
  height: 72px;
  background-image: url('../img/section5/fence.png');
  background-size: auto 72px;
  background-repeat: repeat-x;
  bottom: 90px;
  z-index: 1;
}
.sufi-guy {
  width: 251px;
  height: 230px;
  background-image: url('../img/section5/baba.png');
}
.roadway {
  width: 100%;
  height: 100px;
  background-color: #aeaeae;
  bottom: 0;
}

// section 4
.light {
  width: 113px;
  height: 116px;
  background-image: url('../img/section4/lights.png');
}
.piano-foot {
  width: 100%;
  height: 200px;
  background-image: url('../img/section4/piano.png');
}
.speaker {
  width: 235px;
  height: 351px;
  background-image: url('../img/section4/speakers.png');
}
.drummer {
  width: 306px;
  height: 245px;
  background-image: url('../img/section4/band.png');
}

// footer
footer {
  color: white;
  padding: 15px 0 5px 0;
  a {
    color: white;
  }
}
