// section 7
.lamp {
  width: 82.5px;
  height: 102px;
  background-image: url("../img/section7/lamp.png");
  right: -100px;
}
.contact {
  text-align: left;
    a {
      letter-spacing: 5px;
      font-size: 18px;
    }
}
.sofa {
  width: 500px;
  height: 360px;
  background-image: url("../img/section7/bed.png");
  bottom: 35px;
}
.phone {
  width: auto;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 0;
}
.clock {
  width: 90px;
  height: 80px;
  margin-top: 60px;
  right: -100px;
  top: 200px;
  background-image: url("../img/section7/clock.png");
}

.floor {
  width: 100%;
  height: 121px;
  margin: 0;
  background-image: url("../img/section7/floor.png");
  z-index: 0;
  bottom: -40px;
}

// section 6
.cloud-sm {
  width: 100%;
  height: 69px;
  background-image: url('../img/section6/cloud1.png');
}
.cloud-md {
  width: 282px;
  height: 180px;
  background-image: url('../img/section6/cloud2.png');
}
.ufo-sm {
  width: 59px;
  height: 33px;
  background-image: url('../img/section6/ufo1.png');
}
.ufo-md {
  width: 81px;
  height: 41px;
  background-image: url('../img/section6/ufo2.png');
}
.ufo-sufi {
  width: 330px;
  height: 286px;
  background-image: url('../img/section6/ufobaba.png');
}
.garden-one {
  width: 40%;
  height: 146px;
  background-image: url('../img/section6/garden1.png');
}
.garden-two {
  width: 60%;
  height: 146px;
  background-image: url('../img/section6/garden2.png');
}
.grass {
  width: 100%;
  height: 20px;
  background-image: url('../img/section6/ground.png');
}

// section 5
.fly-cam1 {
  width: 156px;
  height: 103px;
  background-image: url('../img/section5/camera1.png');
}
.fly-cam2 {
  width: 94px;
  height: 70px;
  background-image: url('../img/section5/camera2.png');
}
.fly-cam3 {
  width: 116px;
  height: 99px;
  background-image: url('../img/section5/camera3.png');
}
.fly-cam4 {
  width: 78px;
  height: 57px;
  background-image: url('../img/section5/camera4.png');
}
.tree1 {
  width: 123px;
  height: 209px;
  background-image: url('../img/section5/tree1.png');
}
.tree2 {
  width: 170px;
  height: 301px;
  background-image: url('../img/section5/tree2.png');
}
.fence {
  width: 100%;
  height: 72px;
  background-image: url('../img/section5/fence.png');
}
.sufi-guy {
  width: 251px;
  height: 230px;
  background-image: url('../img/section5/baba.png');
}
.roadway {
  width: 100%;
  height: 100px;
  background-color: #666;
}

// section 4
.light {
  width: 113px;
  height: 116px;
  background-image: url('../img/section4/lights.png');
}
.piano-foot {
  width: 100%;
  height: 200px;
  background-image: url('../img/section4/piano.png');
}
.speaker {
  width: 235px;
  height: 351px;
  background-image: url('../img/section4/speakers.png');
}
.drummer {
  width: 306px;
  height: 245px;
  background-image: url('../img/section4/band.png');
}

//section 3
.limo {
  width: 285px;
  height: 81px;
  background-image: url('../img/section3/car.png');
}
.theatre {
  width: 380px;
  height: 239px;
  background-image: url('../img/section3/theater2.png');
}
.lights1 {
  width: 268px;
  height: 386px;
  background-image: url('../img/section3/light1.png');
}
.lights2 {
  width: 268px;
  height: 386px;
  background-image: url('../img/section3/light2.png');
}
.lights3 {
  width: 268px;
  height: 386px;
  background-image: url('../img/section3/light3.png');
}
.lights4 {
  width: 268px;
  height: 386px;
  background-image: url('../img/section3/light4.png');
}
.road {
  width: 100%;
  height: 40px;
  background-color: #666;
}
