// landscape
@media (max-width: $screen-xs-max) and (orientation: landscape) {
  .section {
    min-height: auto;
  }
  .at-center .logo {
    width: 150px;
    margin: -70px auto 0;
  }
  .down-text {
    margin-top: 40px;
  }
  .mic,
  .tower1,
  .tower2,
  .cloud3 {
    display: none;
  }
  .cloud2 {
    right: 0;
  }
  .boat {
    left: 0;
    bottom: 20px;
  }
  .wave1 {
    height: 50px;
    background-size: auto 50px;
    bottom: 20px;
  }
  .wave2 {
    height: 35px;
    background-size: auto 35px;
    bottom: 15px;
  }
  .wave3 {
    height: 25px;
    background-size: auto 25px;
    bottom: 15px;
  }
  .wave4 {
    height: 30px;
    background-size: auto 30px;
  }
  .know-us {
    width: 70%;
    p {
      font-size: 12px;
    }
    h2 {
      font-size: 24px;
    }
  }
  .theatre {
    display: none;
  }
  .carousel-inner {
    width: 80%;
    margin: 0 auto;
  }
  .wedo h2 {
    margin-bottom: 10px;
  }
  .event {
    top: 170px;
    .upcoming {
      margin-top: 5px;
      font-size: 12px;
    }
    .event-one {
      p {
        font-size: 12px;
      }
      h3 {
        font-size: 26px;
        margin: 10px 0 5px;
      }
      button {
        margin: 10px 0;
      }
    }
  }
  .piano-foot {
    display: none;
  }
  .board {
    top: 60px;
    .media-one {
      padding: 15px 0 5px;
      p {
        line-height: 120%;
        height: 58px;
        overflow: hidden;
      }
      h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 5px 0;
      }
    }
  }
  .cloud-md {
    top: 30px;
  }
  .sofa {
    zoom: 0.35;
    bottom: 135px;
  }
  .contact p {
    font-size: 18px;
    line-height: 110%;
  }
  .garden {
    height: 100px;
    background-size: auto 100px;
  }
  .text-holder.careers.layer p {
    font-size: 10px;
    margin-bottom: 3px;
  }
  h2 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .floor {
    bottom: 49px;
  }
  .lamp {
    top: 20px;
  }
  .wave4 {
    height: 30px;
    background-size: auto 30px;
    bottom: 8px;
  }
  .wave3 {
    height: 40px;
    background-size: auto 40px;
    bottom: 18px;
  }
  .wave1 {
    bottom: 8px;
  }
  .cloud1 {
    bottom: 0;
  }
  .layer-boat {
    left: 0 !important;
    top: 55px !important;
  }
  .drummer {
    bottom: 10px;
    zoom: 0.3;
  }
}
