@import url(https://fonts.googleapis.com/css?family=Exo+2|Lato:400,100,300,700,900);

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #4d2261 !default;
$brand-success: #d4a630 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$black: #000000 !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {}

.primary-bg { background-color: $brand-primary;}
.success-bg { background-color: $brand-success;}
.warning-bg { background-color: $brand-warning;}
.danger-bg { background-color: $brand-danger;}
.info-bg { background-color: $brand-info;}

.primary { color: $brand-primary; }
.success { color: $brand-success; }
.warning { color: $brand-warning; }
.danger { color: $brand-danger; }
.info { color: $brand-info; }
.black { color: $black; }

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
a { text-decoration: none; }
.section {
  position: relative;
  min-height: 600px;
}
.ab {
  position: absolute;
}

/* Start writing sass here */
.contact-section {
  margin-right: 50px;
}

.lamp-figure, .clock-figure, .phone-figure {
  float: right;
}

.sofa-figure {
  float: left;
}

.lamp {
  width: 82.5px;
  height: 102px;
  background-image: url(../img/section7/lamp.png);
  background-size: cover;
}

.contact-div {
  position: relative;
  left: 40%;
  top: 50%;
}

.contact {
  text-align: left;
  nav {
    a {
      letter-spacing: 5px;
      font-size: 18px;
    }
  }
}

.sofa {
  width: 500px;
  height: 360px;
  background-image: url(../img/section7/bed.png);
  background-size: cover;
  bottom: 35px;
}

.phone {
  width: 300px;
  height: 580px;
  background-image: url(../img/section7/phonebaba.png);
  background-size: cover;
  transform: translate(-105%, -20%);
  z-index: -1;
}

.clock {
  width: 90px;
  height: 80px;
  margin-top: 60px;
  background-image: url(../img/section7/clock.png);
  background-size: cover;
}

.floor {
  width: 100%;
  height: 121px;
  margin: 0;
  background-image: url(../img/section7/floor.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -100;
  bottom: -40px;
}
