@import url(https://fonts.googleapis.com/css?family=Exo+2|Lato:400,100,300,700,900);
@font-face {
  font-family: "Lemonade";
  src: url(../fonts/Lemonade.ttf);
}
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */
$brand-primary: #4d2261 !default;
$brand-success: #d4a630 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$font-color: #242424 !default;
$body-bg: #fff !default;
$text-color: $font-color !default;
$section-bg: #d3d3d3 !default;
$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$font-funky: "Lemonade", "Helvetiva Neue", Helvetica !default;
$font-loading: "Exo 2", "Helvetiva Neue", Helvetica !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {

}
.primary-bg {
  background-color: $brand-primary;
}
.success-bg {
  background-color: $brand-success;
}
.warning-bg {
  background-color: $brand-warning;
}
.danger-bg {
  background-color: $brand-danger;
}
.info-bg {
  background-color: $brand-info;
}
.primary {
  color: $brand-primary;
}
.success {
  color: $brand-success;
}
.warning {
  color: $brand-warning;
}
.danger {
  color: $brand-danger;
}
.info {
  color: $brand-info;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  @include transition(all 300ms ease);
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
}
h2 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 10px;
}
.sticky-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  @include transition(all 700ms ease);
  &.affix {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: 999;
  }
}
.fp-viewing-0 {
  .sticky-bottom {
    top: calc(100% - 60px);
  }
}
.header-logo {
  height: 100%;
  padding: 10px;
}
.navbar-brand {
  padding: 0;
  height: 60px;
}
.navbar-primary {
  color: $brand-success;
  margin: 0;
  border: 0;
  background-color: $brand-primary;
  text-align: center;
  .nav {
    display: inline-block;
    float: none;
    margin-bottom: -4px;
    > li {
      > a {
        color: inherit;
        @include transition(all 300ms ease);
        font-size: 16px;
        padding: 20px 15px;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
  }
}
.section {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  &.one {
    z-index: 70;
  }
  &.two {
    z-index: 60;
  }
  &.three {
    background-color: $section-bg;
    background-image: url(../img/section3/section3.png);
    background-size: 100% auto;
    background-repeat: repeat-x;
    background-position: bottom;
    z-index: 50;
  }
  &.four {
    z-index: 40;
    .web-layer {
      z-index: -1;
    }
  }
  &.five {
    z-index: 30;
  }
  &.six {
    z-index: 10;
    background-color: $section-bg;
    background-image: url(../img/section6/section6.png);
    background-size: 100% auto;
    background-repeat: repeat-x;
    background-position: bottom;
  }
  &.seven {
    background-color: $section-bg;
  }
}
.text-upper {
  text-transform: uppercase;
}
.navbar-toggle .icon-bar {
  background-color: $brand-success;
}
.at-center {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  @include transform(translateY(-50%));
  .logo {
    width: 220px;
    margin: -70px auto 0;
  }
}
.down-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  @include transform(translateY(-50%));
  margin-top: 100px;
  width: 100%;
  left: 0;
  a {
    &:hover {
      color: $brand-success;
    }
  }
}
.web-layer {
  background: url(../img/background/texture.png)no-repeat 50%;
  width: 110%;
  height: 100%;
  opacity: 0.5;
  left: -5%!important;
  top: -5%!important;
  position: absolute;
  opacity: 0.3;
  z-index: 1;
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
  outline-offset: 0;
}
.ab {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/* SECTION 2 */
.container {
  position: relative;
}
.know-us {
  width: 40%;
  position: absolute;
  top: -80%!important;
  left: 27%!important;
  @include transform(translateY(-40%));
}
.mic {
  background-image: url(../img/section2/mic.png);
  height: 350px;
  width: 163px;
}
.layer-mic {
  left: 30px;
}
.cloud1 {
  background-image: url(../img/section2/cloud1.png);
  height: 100px;
  width: 148px;
}
.layer-cloud1 {
  left: 10px!important;
  top: 60%!important;
}
.cloud2 {
  background-image: url(../img/section2/cloud2.png);
  height: 74px;
  width: 110px;
  @include transform(translateY(-50%));
}
.layer-cloud2 {
  left: 80%!important;
  top: 50%!important;
}
.cloud3 {
  background-image: url(../img/section2/cloud3.png);
  height: 100px;
  width: 143px;
}
.layer-cloud3 {
  top: 80px!important;
  left: 170px!important;
}
.middle-layer {
  position: absolute;
  top: -100%;
  height: 550px;
  width: 100%;
}
.guitarsufi {
  width: 207px;
}
.layerguitar {
  left: 65% !important;
  top: -90% !important;
}
.sea {
  position: absolute;
  width: 100%;
  bottom: 71px;
  left: 0;
}
.wv {
  background-repeat: repeat-x;
  background-position: left bottom;
  width: 100%;
}
.boat {
  background-image: url(../img/section2/boatsufi.png);
  height: 158px;
  width: 100px;
  z-index: 1;
}
.layer-boat {
  left: 110px !important;
  top: -128px !important;
}
.tower2 {
  width: 100px;
  z-index: 1;
}
.layer-tower2 {
  top: -360px !important;
  left: 80% !important;
}
.tower1 {
  width: 100px;
}
.layer-tower1 {
  top: -130px!important;
  left: 70%!important;
}
.wave1 {
  background-image: url(../img/section2/water1.png);
  height: 170px;
  width: 150%;
}
.layer-wave1 {
  top: -80px !important;
  left: -25% !important;
  height: 170px;
  width: 100%;
}
.wave2 {
  background-image: url(../img/section2/water2.png);
  height: 100px;
  width: 140%;
}
.layer-wave2 {
  top: -45px !important;
  left: -15% !important;
  height: 100px;
  width: 100%;
}
.wave3 {
  background-image: url(../img/section2/water3.png);
  height: 90px;
  width: 125%;
}
.layer-wave3 {
  top: -20px !important;
  left: -15% !important;
  height: 90px;
  width: 100%;
}
.wave4 {
  background-image: url(../img/section2/water4.png);
  height: 95px;
  z-index: 1;
  width: 110%;
}
.layer-wave4 {
  top: -10px!important;
  left: -5%!important;
  height: 95px;
  width: 100%;
}
/* SECTION 3 */
.road {
  width: 100%;
  height: 50px;
  background-color: #666;
  bottom: 0;
  left: 0;
}
.limo {
  width: 285px;
  z-index: 1;
  right: 140px;
  bottom: 0;
}
.theatre {
  width: 450px;
  bottom: 0;
  z-index: 2;
}
.light1 {
  width: 450px;
  bottom: 160px;
}
.wedo {
  width: 780px;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 3;
  h2 {
    text-align: center;
  }
}
.card {
  background-color: white;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.4);
  .fancy-border {
    background-image: url(../img/section3/border-dot.jpg);
    padding: 15px;
    background-size: 15px;
    background-position: left top;
    .white-bg {
      background-color: white;
      padding: 10px;
    }
  }
  .title {
    padding: 5px 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    color: white;
    background-color: $brand-primary;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .image {
    img {
      width: 100%;
      border-width: 20px 10px;
      border-color: black;
      border-style: solid;
      border-radius: 10px;
    }
  }
}
.carousel {
  .glyphicon {
    font-family: 'FontAwesome';
    &.glyphicon-chevron-right:before {
      content: '\f054';
    }
    &.glyphicon-chevron-left:before {
      content: '\f053';
    }
  }
}
.carousel-inner {
  overflow: initial;
}
.carousel-indicators {
  display: none;
}
.carousel-control {
  &.right,
  &.left {
    background-image: none;
    text-shadow: none;
    color: black;
    opacity: 1;
  }
}
.footer {
  &.atbottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
@import "harsh.scss";
@import "amit.scss";
@import "mobile.scss";
@import "main/animation.scss";
