<section class="humsafar pad-sixty">
  <div class="web-layer"></div>

  <div class="humsafar-image">
    <img src="img/eventdetail/humsafar-image.jpg" alt="" />
  </div>
  <div class="humsafar-about">
    <img src="img/section2/cloud1.png" alt="" class="cloudy-sm ab" />
    <img src="img/section2/cloud3.png" alt="" class="cloudy-md ab" />
    <div class="container">
      <h2>About Humsafar</h2>
      <p>Hum Safar is a contemporary take on relationships existing in metros today. It is about a couple, Sameer (Harsh Chhaya) and Sonal (Lubna Salim), who can’t see eye to eye on a lot of things and don’t realize that they are actually made for each other.
        The story starts at a crucial juncture — 15 years after the wedding. It starts where they come to a conclusion that they cannot stay together. The play then spans the next 10 years as unforeseen circumstances keep throwing them into each other’s
        way. That is how the journey progresses.</p>
    </div>
  </div>
  <div class="humsafar-cast">
    <div class="container">
      <h2>Cast</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="casts-one">
            <div class="cast-image">
              <div class="cast-inner">
                <img class="img-responsive" src="img/eventdetail/salim.jpg" alt="" />
                <h3>Salim Arif</h3>
              </div>
            </div>
            <p>Salim Arif is an alumnus of the National School of Drama (NSD), New Delhi. In theatre, he has several production oriented workshops to his credit in a number of places in India.</p>
            <p>Innovative in approach, exploring new contents for staging, his Taj Mahal Ka Tender, Kaifi Saab, Ghalibnaama, Kharaashein, Peele Patton Ka Ban, Dil Chahta Hai, Shyam Rang, Agar Aur Magar, Bayaane Ghalib, Rakt Kalyan, Parwaaze Bayaan Aur, Kachche
              Lamhe and Aapki Soniya have made him one of the most popular directors of the Hindi theatre scene in India.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="casts-two">
            <div class="cast-image">
              <div class="cast-inner">
                <img class="img-responsive" src="img/eventdetail/luban.jpg" alt="" />
                <h3>Luban Salim</h3>
              </div>
            </div>
            <p>Lubna Salim is an Indian theatre and television actress, best known for her role as Leela Thakkar on the popular, Hindi serial Baa Bahoo Aur Baby. She has appeared in many other popular television programs including Bharat Ek Khoj, Daaman,
              Chhatrapati Shivaji & also performed in many plays including Azar Ka Khwab, Atmakatha, Shyam Rang, Lakeerein and Mera Kuch Saman. Lubna formed her own theatre group ESSAY COMMUNICATIONS with her father Javed Siddiqui, the eminent writer
              and her husband Salim Arif, another well-known name in theatre and films.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="casts-three">
            <div class="cast-image">
              <div class="cast-inner">
                <img class="img-responsive" src="img/eventdetail/harsh.jpg" alt="" />
                <h3>Harsh Chhaya</h3>
              </div>
            </div>
            <p>Harsh Chhaya is an Indian television and Bollywood film actor. Besides
landmark roles on Indian television like Swabhiman, Tara, Hasratein, Justuju and Daraar, Harsh is also remembered for films like Dev, Jaanasheen,
Company, Ramji Londonwale, Laaga Chunri Mein Daag, Corporate and Fashion.</p>
            <p>Astitva Ek Prem Kahani’s famous Dr.Manas on television, and also seen in Thodi Si Zameen Thoda Aasman, Ghar Ek Sapna, he essays the role of Sameer with charming flair in the play
Humsafar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="humsafar-events">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Event Overview</h2>
          <ul>
            <li>
              <span>Venue: </span>DUCTAC, Mall of the Emirates</li>
            <li>
              <span>Capacity: </span>600 seating per day</li>
            <li>
              <span>Date: </span>22nd &amp; 23rd January, 2015</li>
            <li>
              <span>Time: </span>7:00-9:00</li>
            <li>
              <span>Ticketing: </span>VVIPs, VIP, General, Balcony</li>
            <li>
              <span>Production: </span>Backdrops and Sound &amp; Lights to enhance audience experience.</li>
          </ul>
        </div>
        <div class="col-md-5">
          <div class="event-drummer">
            <img src="img/section4/band.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="humsafar-media">
    <div class="container">
      <h2>Media Corner</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="media-image">
            <img class="" src="img/eventdetail/media1.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-image">
            <img class="" src="img/eventdetail/media2.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-image">
            <img class="" src="img/eventdetail/media3.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
