<div class="template header sticky-bottom" ng-include="template.header"></div>
<div class="fullpage">
  <section auto-height class="section one" id="landing" ng-include="section.one"></section>
  <section auto-height class="section two" id="about" ng-include="section.two"></section>
  <section auto-height class="section three"></section>
  <section auto-height class="section four" id="events" ng-include="section.four"></section>
  <section auto-height class="section five" id="media" ng-include="section.five"></section>
  <section auto-height class="section six" id="careers" ng-include="section.six"></section>
  <section auto-height class="section seven" id="contact" ng-include="section.seven"></section>
</div>
