<section auto-height class="section one" id="section1" ng-include="section.one"></section>
<section auto-height class="section two" id="section2" ng-include="section.two"></section>
<section auto-height class="section three" id="section3" ng-include="section.three"></section>
<section auto-height class="section four" id="section4" ng-include="section.four"></section>
<section auto-height class="section five" id="section5" ng-include="section.five"></section>
<section auto-height class="section six" id="section6" ng-include="section.six"></section>
<section auto-height class="section seven" id="section7" ng-include="section.seven"></section>
