<section class="section one" ng-include="section.one" auto-height></section>
<section class="section two" ng-include="section.two" auto-height></section>
<section class="section three" ng-include="section.three" auto-height></section>
<section class="section four" ng-include="section.four" auto-height></section>
<section class="section five" ng-include="section.five" auto-height></section>
<section class="section six" ng-include="section.six" auto-height></section>
<section class="section seven" ng-include="section.seven" auto-height></section>
